*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}




    body {
        /* padding-top: 80px;  */
        padding-top: 90px;
        padding-left: 110px;
        padding-right: 15px;
        background-color: rgba(224, 224, 224, 0.507);
        

    }
    




.flex-container{
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    height: auto;
    margin-bottom: 17px;
    padding-bottom: 10px;
    padding-top: 12px;

    justify-content: space-between;
    /* border-bottom: 1px solid black; */

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
    
}



.logo-section{
    /* background-color: red; */
    /* width: 200px; */ 
    display: flex;
    align-items: center;  
    flex-shrink: 0;  
}




.menubutton{
    height :24px;
    margin-right: 24px;
    margin-left: 24px;
    cursor: pointer;
}

.youtubelogo{
    height: 24px;
    cursor: pointer;
}



.search-section{
    flex: 1;
    /* background-color: pink; */
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 680px;
    /* min-width: 200px; */
    min-width: 120px;  /* Prevents search section from shrinking too much */

    align-items: center;
    
    
}


.searchbox{
    flex: 1;
    max-width: 690px;
    min-width: 10px;  /* Prevents input from shrinking too much */
    height: 40px;
    /* border-radius: 50px; */
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-width: 1px;
    border-style:  solid;
    border-color: grey;
    outline: none;
    font-size: 16px;
    padding-left: 13px;
    background-color: rgba(203, 203, 203, 0.238);
    box-shadow: inset 1px 2px 3px rgba(128, 128, 128, 0.238);
    
}

.searchbox::placeholder{

    /* padding-left: 13px; */
    font-size: 16px;
    

}



.search-btn{
    height:40px;
    width: 60px;
    display: flex;
    background-color: rgba(209, 209, 209, 0.515);
    border-width: 1px;
    border-style:  solid;
    border-color: grey;
    align-items: center;
    /* border-radius: 30px; */
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: -1px;
    flex-shrink: 0; /* Prevent shrinking */

    position: relative;
}


.searchtooltip{
    position: absolute;
    right: -18px;
    bottom: -24px;
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    
}

.search-btn:hover .searchtooltip{
    opacity: 1;
}




.voice-search-btn{
    margin-left: 20px;
    height:38px;
    width: 38px;
    display: flex;
    background-color: rgba(209, 209, 209, 0.515);
    border-width: 1px;
    border-style:  solid;
    border-color: grey;
    align-items: center;
    border-radius: 50px;
    flex-shrink: 0; /* Prevent shrinking */
    position: relative;
}


.voicetooltip{
    position: absolute;
    width: 145px;
    right: -120px;
    bottom: -26px;
    background-color: grey;
    color: white;
    border-radius: 2px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    font-size: 12px;

}

.voice-search-btn:hover .voicetooltip{
    opacity: 1;
}





.search-icon{
width: 100%;
height: 25px;
cursor: pointer;
}


.mic-icon{
    width: 100%;
    height: 25px;
    cursor: pointer;
}



.profile-section{
    /* background-color: aqua; */
    /* min-width: 200px; */
    max-width: 200px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create{
    height: 30px;
    cursor: pointer;
    
}


.create-tooltip{
    position: relative;
}

.createtooltip{

    position: absolute;
    right: -30px;
    bottom: -28px;
    background-color: grey;
    color: white;
    border-radius: 2px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    font-size: 12px;

}


.create-tooltip:hover .createtooltip{
    opacity: 1;
}



.user-profile{
    height: 36px;
    /* width: 100%; */
    border-radius: 50px;
    margin-right: 20px;
    cursor: pointer;
}

.notification{
    height: 30px;
    width: 100%;
    /* margin-left: 22px; */
    /* margin-right: 22px; */
}




.no-notifications{
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: 28px; 
     margin-right: 28px; 
     cursor: pointer;
     

}

.no-of-notifications{
    color: white;
    background-color: red;
    border-radius: 40px;
    padding: 2px;
    position: absolute;
    top: -4px;
    right: -2px;
    font-size: 13px;
    cursor: pointer;
}


.notificationtooltip{
    position: absolute;
    right: -50px;
    bottom: -28px;
    background-color: grey;
    color: white;
    border-radius: 2px;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    font-size: 12px;
}

.no-notifications:hover .notificationtooltip{
    opacity: 1;
}



.sidebar{
    background-color: white; /* Or any color you want */
    position: fixed;
    bottom: 0;
    left: 0;
    top:40px;

    /* height: 40px; */
    /* padding: 100px; */
    z-index: 100;

    

    

}

.sidebar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* justify-content: space-between; */

    gap: 8px;
}

.sidbar-content{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    gap: 1px; /* Adds spacing between child elements */
    padding: 17px; /* Adds inner spacing */
    

}

.sidbar-content img{
    height: 25px;
    
}

.sidbar-content p{

    font-weight: bold;
    font-size: 10px;
    margin-top: 4px;
}


.sidbar-content:hover{
    background-color: rgba(217, 217, 217, 0.638);
    cursor: pointer;
}






.grid-container{
    display: grid;
    /* grid-template-columns:1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    
    row-gap: 18px;
    column-gap: 18px;
}


.thumbnail{
width: 100%;
border-radius: 10px;
cursor: pointer;
}


.grid-img{
    position: relative;
}


.video-time{
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.57);
    position: absolute;
    right: 10px;
    bottom: 12px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}







.grid-content{
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    
    
}


.profile-picture{
    width: 38px;
    border-radius: 50px;
    cursor: pointer;


}

.profile-img{
    padding-right: 10px;
}



.name{
padding-top: 8px;
cursor: pointer;
color: gray;


}


.title{
    /* color: white; */
    font-weight: bold;
    cursor: pointer;
}

.views{
    cursor: pointer;
    color: gray;


}